body {
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color:whitesmoke;
    margin:0;
}
blockquote {
    color:white;
    margin:50px;
    font-size:140%;
}
p {
    align-items: center;
    text-align: center;
    color:white;
    margin:0px;
}
@font-face {
    font-family: OldFace;
    src: url(src/oldface.otf);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    background-color:whitesmoke;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:whitesmoke;
    background-color:transparent;
    text-decoration: none;
}
a:hover {
    color:darkgray;
    background-color:transparent;
    text-decoration: underline;
}
a:active {
    color:darkslategray;
    background-color:transparent;
    text-decoration:underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    position:sticky;
    position:-webkit-sticky;
    top: 0;
}
li {
    float:left;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:10px;
    text-decoration: none;
}
.navbar {
    background-color:black;
    overflow: hidden;
}
.navbar a {
    float:left;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
.navbar a:hover {
    background-color:white;
    color:black;
}
.navbar a.active {
    background-color:white;
    color:black;
}